absl-py
altair
anyio
argon2-cffi
argon2-cffi-bindings
arrow
astunparse
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
blinker
Brotli
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cssselect2
cycler
debugpy
decorator
defusedxml
docutils
exceptiongroup
executing
fastjsonschema
filelock
Flask
flatbuffers
fonttools
fqdn
fsspec
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
html5lib
httpcore
httpx
huggingface-hub
idna
importlib-metadata
importlib_resources
ipykernel
ipython
isoduration
itsdangerous
jaraco.classes
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
keras
keyring
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplot
matplotlib
matplotlib-inline
mdurl
mistune
more-itertools
mysql-connector-python
nbclient
nbconvert
nbformat
nest-asyncio
nh3
notebook_shim
numpy
oauthlib
opt-einsum
outcome
overrides
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
pkginfo
pkgutil_resolve_name
platformdirs
prometheus_client
prompt-toolkit
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pydeck
pydyf
Pygments
pyloco
pyparsing
pyphen
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
readme_renderer
referencing
regex
reportlab
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986
rfc3986-validator
rich
rpds-py
rsa
safetensors
selenium
Send2Trash
SimpleWebSocketServer
six
smmap
sniffio
sortedcontainers
soupsieve
stack-data
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
terminado
tinycss2
tokenizers
toml
tomli
toolz
tornado
tqdm
traitlets
transformers
trio
trio-websocket
twine
types-python-dateutil
typing
typing_extensions
tzdata
uri-template
urllib3
ushlex
watchdog
wcwidth
weasyprint
webcolors
webencodings
websocket-client
Werkzeug
wrapt
wsproto
zipp
zopfli
